@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

:root {
  --red: hsl(0, 78%, 62%);
  --blue: hsl(212, 86%, 64%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --darkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --lightGray: hsl(0, 0%, 98%);
  --paddingCard: 20px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightGray);
  font-family: 'Poppins', sans-serif;
}

.main h1 {
  font-weight: 200;
  color: var(--darkBlue);
  font-size: 1.8rem;
  margin: 40px auto 20px auto;
  text-align: center;
}

.main h1 span {
  font-weight: 600;
  font-size: 1.8rem;
  display: block;
}

.description {
  color: var(--grayishBlue);
  font-size: 15px;
  width: 280px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 4px;
  border-top: 4px solid;
  grid-column: 1 / 2;
  background-color: white;
  margin: auto;
  padding: var(--paddingCard);
  box-shadow: 0px 10px 15px 0.01px var(--grayishBlue);
}

.card h2 {
  font-size: 1.4rem;
  color: var(--darkBlue);
  font-weight: 600;
  margin-bottom: 10px;
}

.card p {
  font-size: .9rem;
  line-height: 20px;
  color: var(--grayishBlue);
}

.card-supervisor {
  border-color: var(--cyan);
  grid-row: 1 / 2;
}

.card-builder {
  border-color: var(--red);
  grid-row: 2 / 3;
}

.card-karma {
  border-color: var(--orange);
  grid-row: 3 / 4;
}

.card-calculator {
  border-color: var(--blue);
  grid-row: 4 / 5;
}

.card .icon {
  position: absolute;
  right: var(--paddingCard);
  bottom: var(--paddingCard);
}

.attribution {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .container-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .card-supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .card-builder {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  
  .card-karma {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  
  .card-calculator {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}